.main {
  text-align: center;
}

.main header {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.main-title {
  font-weight: 700;
  font-size: 600%;
  color: #e24adf;
  text-transform: uppercase;
  mix-blend-mode: screen;
  left: 0;
  top: 0;
}

.blu {
  color: #4a90e2;
}

.purple {
  left: 2%;
  top: 0;
  position: absolute;
}

.modal-label {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main > svg {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.main-container {
  height: calc(100vh - 100px);
}
