.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  border: none;
  color: #e24adf;
  background: none;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 100;
  display: block;
  text-decoration: none;
  margin-right: 15px;
  margin-top: 10px;
  padding: 5px;
}

.nav a:first-child {
  margin-right: auto;
  margin-left: 15px;
}

.nav a.active {
  background-color: #4a90e2;
  border-radius: 3px;
  color: #0c067e;
  font-weight: 300;
  opacity: 0.5;
}
